<!DOCTYPE html>
<html>
<head>
    <title>View Transactions</title>
</head>
<body>
    <h1>Transactions in the Library</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Book Title</th>
            <th>Member Name</th>
            <th>Issue Date</th>
            <th>Return Date</th>
            <th>Rent Fee</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction[0] }}</td>
            <td>{{ transaction[1] }}</td>
            <td>{{ transaction[2] }}</td>
            <td>{{ transaction[3] }}</td>
            <td>{{ transaction[4] }}</td>
            <td>{{ transaction[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
